<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Displayloaded</servlet-name>
        <servlet-class>controller.AdminController.DislayLoadedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>controller.StudentController.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>controller.TeacherController.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendanceController</servlet-name>
        <servlet-class>controller.TeacherController.TakeAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.authentication</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentController</servlet-name>
        <servlet-class>controller.StudentController.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendanceController</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.authentication</servlet-name>
        <url-pattern>/login_auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentController</servlet-name>
        <url-pattern>/ssearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Displayloaded</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
</web-app>
